.contactGrid {
  background-color: var(--primary-colour);
  padding: var(--section_padding);
}

.mapSize {
  height: 62vh;
}

@media screen and (max-width: 480px) {
  .mapSize {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .mapSize {
    height: 38vh;
  }
}
/*[theme.breakpoints.between('xs', 'sm')]: {
            height: '20vh'
        },
        [theme.breakpoints.between('sm', 'md')]: {
            height: '48vh'
        },
        [theme.breakpoints.between('md', 'lg')]: {
            height: '64vh'
        }*/
