.hero_div {
  padding: var(--section_padding);
}

.heroPic {
  height: 350px;
}

.buttonSticker {
  height: 40px;
  margin: 2px;
}

@media screen and (max-width: 480px) {
  .heroPic {
    height: 200px;
  }
  .mobileFontSize {
    font-size: 2rem;
  }
  .mobileFontSizeSub {
    font-size: 1rem;
  }
}

.mobileSocialMediaIcons {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  .heroPic {
    height: 350px;
    margin-right: 50px;
  }
  .mobileSocialMediaIcons {
    display: none;
  }
}
